.modalBox {
  position: absolute;
  top: 24px;
  right: 0px;
  width: 120px;
  padding: 12px 8px;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* threeDot */
.selectBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding: 8px 0;
  width: 100%;
  cursor: pointer;
}
.selectBox:hover {
  background-color: rgba(230, 230, 230, 0.9);
  border-radius: 4px;
}

/* alarm */
.alarmBox {
  margin: 4px 0;
}
.alarmNameBox {
  display: flex;
  justify-content: space-between;
}
.alarmBox h3 {
  font-size: 16px;
}
.alarmBox p {
  font-size: 14px;
}

/* 스위칭 버튼 */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: 8px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #4caf50;
}
input:checked + .slider:before {
  transform: translateX(20px);
}
