.ContentBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 1365px;
  height: fit-content;
  padding: 8px 0;
  position: relative;
}

.boxSettingModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-70%, -50%);
}
.contentArea {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon,
.icon2 {
  transition: transform 0.1s ease-in-out;
}
.icon:hover,
.icon2:hover {
  transform: scale(1.3);
}

.icon2 {
  margin: 4px 2px;
}

.modalArea {
  background-color: rgba(80, 80, 80, 0.1);
  border-radius: 4px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
